/* .makeStyles-root-386 {
    flex: 1 0 auto;
    height: auto;
    display: flex;
    position: relative;
    min-height: 100%;
    flex-direction: column;
    background-color: #F7F7F7;
    overflow: hidden;
} */